// TODO need to tone these colors down
$blue: #6182a0;
$yellow: #e7a41d;
$flame: #E4572E;
$lblue: #5295a3;
$green: #538a38;
$purple: #7b67a0;

$white: white;
$grey: darken(white, 20%);

$i8: 1in / 8;
$i16: 1in / 16;
$i32: 1in / 32;

@mixin stripe($color) {
	$stripe-width: 4px;
	background: repeating-linear-gradient(
		-45deg,
		$color,
		$color $stripe-width,
		#00000000 $stripe-width,
		#00000000 $stripe-width * 2
	);
}
