
.card {
	width: 2.25in; /* 2.5 - 2*.125 */
	height: 3.25in; /* 3.5 - 2*.125 */

	border-radius: .125in;
	border: solid blue .125in;

	background-color: red;

}

.card .dice {
	margin: auto;
}

.card .effect {
	width: 100%;
	text-align: center;
}

.die {
	width: .75in;
	height: .75in;
	border-radius: .125in;
	margin: auto;

	background-color: blue;
}
