$blue: #577590;
$blue-shade: darken($blue, 10%);
$blue-tint: lighten($blue, 25%);

/*
$yellow: #FFBC42;
$yellow-shade: darken($yellow, 25%);
$yellow-tint: lighten($yellow, 25%);

$flame: #E4572E;
$flame-shade: darken($flame, 25%);
$flame-tint: lighten($flame, 25%);

$lblue: #23B5D3;
$lblue-shade: darken($lblue, 25%);
$lblue-tint: lighten($lblue, 25%);

$green: #B4DC7F;
$green-shade: darken($green, 25%);
$green-tint: lighten($green, 25%);
*/

$white: white;
$grey: darken(white, 20%);

$i8: 1in / 8;
$i16: 1in / 16;
$i32: 1in / 32;

body {
}

p {
	margin: .125in;
}
* {
	box-sizing: border-box;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	.card {
		margin: .125in;
		width: 2.5in;
		height: 3.5in;
		border-radius: .125in;
		padding: (1in / 8);

		flex: 0 0 auto;

		color: white;
		background-color: $blue-shade;

		display: flex;
		flex-direction: column;


		$titleSize: 3*$i16;
		p.name {
			font-size: $titleSize;
			margin: 0 0 .125in 0;
			text-align: center;
		}

		.nap {
			bottom: $i8;
			left: $i8;
			right: $i8;
			background-color: $blue;
			border-radius: (1.0in / 8);
			flex: 1 0 auto;

			display: flex;
			flex-direction: column;
		}

		.dice {
			$dice-width: 16mm;
			
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: center;

			flex: 1 0 auto;

			.die {
				width: $dice-width;
				height: $dice-width;
				border-radius: 3mm;
				border: solid $blue-shade (1in/32);

				color: white;
				margin: 1mm;
				p {
					display:flex;
					justify-content:center;
					align-items:center;
					width: $dice-width - 2*$i32;
					height: $dice-width - 2*$i32;
					margin: 0;
				}
			}
		}

		p.effect {
			text-align: center;
			align-self: flex-end;
			width: 100%; // forces onto bottom
		}

		p.reuse {
			color: $grey;
			text-align: center;
		}

	}
}
