@import './components/constants';

body {
	background-color: black;
	cursor: default;
	color: white;
}

p {
	margin: .125in;
}
* {
	box-sizing: border-box;
}

// text interpolation
.card {
	.highlight {
		font-weight: bold;
	}
	.dice-sum::after {
		content: "\2211";
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
	
	.card {
		margin: $i16;
		width: 2.5in;
		height: 3.5in;
		border-radius: .125in;
		padding: (1in / 8);
		position: relative;

		flex: 0 0 auto;

		display: flex;
		flex-direction: column;


		$titleSize: 3*$i16;
		.name {
			font-size: $titleSize;
			margin: 0 0 .125in 0;
			text-align: center;
		}

		&:hover .delete {
			visibility: visible;
		}
		.delete {
			visibility: hidden;
			flex: none;
			position: absolute;
			top: 0;
			right: 8px;
		}

		.nap {
			border-radius: (1.0in / 8);
			flex: 1 1 auto;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		.dice {
			
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: space-evenly;

			flex: 1 0 auto;

			@import './components/die';
		}

		.effect {
			text-align: center;
			width: 100%; // forces onto bottom
		}

		.reuse {
			text-align: center;
		}

	}
}

@mixin card-color($base) {
	$white: white;
	$shade: darken($base, 15%);
	$tint: lighten($base, 20%);

	
	color: $white; //tint this?
	background-color: $base;
	.nap {
		background-color: $shade; // go lighter?
	}
	.reuse {
		color: lightgrey;
	}
	.dice {
		@import './components/die';
		.die {
			border-color: $white; // go white?
			color: $white;
			&.restricted{
				@include stripe($base);
			}
			&.constant {
				@include dieBoxShadow($tint);
			}
			.pip {
				background-color: $tint;
			}
		}
	}
}

.cards .card.type-attack {
	@include card-color($flame);
}
.cards .card.type-defend {
	@include card-color($blue);
}
.cards .card.type-b {
	@include card-color($green);
}
.cards .card.type-c {
	@include card-color($yellow);
}
.cards .card.type-e {
	@include card-color($lblue);
}
/*
.cards .card {
	@include card-color(grey);
}
*/


.cards .flip{
	.card {
		height: (3.5in /2);
		border-radius: .125in .125in 0 0;
		margin-bottom: 0;
		padding-bottom: $i32;
		.name {
			margin-bottom: $i32;
		}
		.nap {
			margin-bottom: 0px;
			.dice {
				.die {
				}
				p.effect {
					margin-top: $i32;
					margin-bottom: $i32;
				}
			}
			p.reuse {
				flex: 1 1 auto;
				margin-top: $i32;
				margin-bottom: $i16;
			}
		}
	}
	.card.flipped {
		transform: rotate(180deg);
		margin-top: 0;
		margin-bottom: $i16;
	}
}

.card.form {
	.dice {
		& > .die:hover {
			opacity: .7;
		}
		.dice-form{
			display: flex;

			.dice-fields {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				div {
					display: flex;
					justify-content: space-between;
					input {
						width: 50px;
					}
				}
			}
		}
	}
}
