@import './components/constants';

body {
}

p {
	margin: .125in;
}
* {
	box-sizing: border-box;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
	
	.card {
		margin: $i16;
		width: 2.5in;
		height: 3.5in;
		border-radius: .125in;
		padding: (1in / 8);

		flex: 0 0 auto;

		color: white;
		background-color: $blue-shade;

		display: flex;
		flex-direction: column;


		$titleSize: 3*$i16;
		p.name {
			font-size: $titleSize;
			margin: 0 0 .125in 0;
			text-align: center;
		}

		.nap {
			bottom: $i8;
			left: $i8;
			right: $i8;
			background-color: $blue;
			border-radius: (1.0in / 8);
			flex: 1 0 auto;

			display: flex;
			flex-direction: column;
		}

		.dice {
			
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: space-evenly;

			flex: 1 0 auto;

			@import './components/die';
		}

		p.effect {
			text-align: center;
			align-self: flex-end;
			width: 100%; // forces onto bottom
		}

		p.reuse {
			color: $grey;
			text-align: center;
		}

	}
}

@mixin card-color($baseColor) {
	$white: white;
	$shade: darken($baseColor, 15%);
	$tint: lighten($baseColor, 20%);

	
	color: $white; //tint this?
	background-color: $shade;
	.nap {
		background-color: $baseColor; // go lighter?
	}
	p.reuse {
		color: $grey;
	}
	.dice {
		@import './components/die';
		.die {
			border-color: $shade; // go white?
			color: $white;
			&.restricted{
				@include stripe($shade);
			}
			&.constant {
				@include dieBoxShadow($tint);
			}
			.pip {
				background-color: $shade;
			}
		}
	}
}

.cards .card.type-a {
	@include card-color($blue);
}
.cards .card.type-c {
	@include card-color($yellow);
}
